*, *::after, *::before {
    font-family: Roboto, "Helvetica Neue", "sans-serif";
    box-sizing: border-box;
    font-weight: normal;
}

body {
    background-color: whitesmoke;
    height: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #000000;
}

.question li{
    font-size: 1.3em;
    font-weight: 800;
    color: #333333;
    margin-bottom: 15px;
}

.option-list ul {
    padding-left: 10px;
}

.option-list ul li{
    list-style-type: none;
    font-size: 1.1em;
    font-weight: 600;
}

.option{
    margin-bottom: 10px;
}

.mcq-card{
    height: auto;
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid #aaaa;
    -webkit-box-shadow: -3px 4px 8px 0px rgba(125,125,125,0.5); 
    box-shadow: -3px 4px 8px 0px rgba(125,125,125,0.5);
    border-bottom: 5px solid #3490dc;
}
